In [1]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [2]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
else:
  print("a and b are equal")

a and b are equal

In [4]:
a = 200
b = 200
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a and b are equal

In [6]:
a = 33
b = 33
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

Loops

In [7]:
i = 1
while i < 6:
  print(i)
  i += 1#i=i+1

1
2
3
4
5

In [8]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [9]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [10]:
fruits = ["apple", "banana", "cherry",5]
for x in fruits:
  print(x)

apple
banana
cherry
5

In [11]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [12]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [14]:
for x in range(2, 7):
  print(x)

2
3
4
5
6

In [15]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry