In [6]:
def my_function():
    print("Hello from a function")
my_function()

Hello from a function

In [7]:
def my_function(fname):
  print('Hello '+fname)

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Hello Emil
Hello Tobias
Hello Linus

**Args**

In [10]:
def my_function(*args):#args#tuple
    print(args)
    for arg in args:
        print(arg)

my_function(1, 2, 3)  # Output: 1 2 3
my_function('a', 'b',2,2.5)  # Output: a b

(1, 2, 3)
1
2
3
('a', 'b', 2, 2.5)
a
b
2
2.5

In [13]:
def my_function(*kids):
  print("The youngest child is " + kids[1])

my_function("Emil", "Tobias", "Linus")

The youngest child is Tobias

**kwargs**

In [14]:
def my_function(**kwargs):
    print(kwargs)
    for key, value in kwargs.items():
        print(f"{key}: {value}")

my_function(name="John", age=30, city="New York",hobby='football')

{'name': 'John', 'age': 30, 'city': 'New York', 'hobby': 'football'}
name: John
age: 30
city: New York
hobby: football

In [17]:
def my_function(**kid):
  print("His last name is " + kid["lame"])

my_function(fname = "Tobias", lame = "Refsnes")

His last name is Refsnes

**Combining args and kwargs**

In [18]:
def my_function(*args, **kwargs):
    for arg in args:
        print(arg)
    for key, value in kwargs.items():
        print(f"{key}: {value}")

my_function(1, 2, 3, name="John", age=30)

1
2
3
name: John
age: 30

Recursive

In [22]:
def fact(n):
    if n==1 or n==0:
        return 1
    else:
        return n*fact(n-1)#3*2*1
print(fact(5))

120

In [19]:
def add(a,b):
    return a+b
print(add(8,6))

14